<mat-toolbar
  ngClass.gt-xs="fixed-toolbar"
  id="header"
  color="primary"
  role="banner"
>
  <span fxFlex="20" id="appTitle" [routerLink]="paths.home" i18n="@@AppName"
    ><picture>
      <source srcset="/assets/svg_icons/app-icon.svg" />
      <img id="app-icon" /> </picture
    >Opinion Me</span
  >

  <div ngClass.xs="d-none" fxFlex="60" fxLayoutAlign="center center">
    <button
      mat-button
      [routerLink]="paths.home"
      [routerLinkActive]="['mat-accent']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div fxLayout="row" fxLayoutAlign="none center">
        <span class="material-symbols-rounded">home</span>
        <span i18n="@@HomeButtonText">Home</span>
      </div>
    </button>
    <button
      mat-button
      [routerLink]="paths.explore"
      [routerLinkActive]="['mat-accent']"
    >
      <div fxLayout="row" fxLayoutAlign="none center">
        <span class="material-symbols-rounded">explore</span>
        <span i18n="@@ExploreButtonText">Explore</span>
      </div>
    </button>
    <button
      mat-button
      [routerLink]="paths.notifications"
      [routerLinkActive]="['mat-accent']"
    >
      <div fxLayout="row" fxLayoutAlign="none center">
        <span class="material-symbols-rounded">notifications</span>
        <span i18n="@@NotificationsButtonText">Notifications</span>
      </div>
    </button>
  </div>

  <span fxFlex.xs="1 1 auto"></span>

  <div fxFlex="20" id="authStatus" fxLayoutAlign="end center">
    <button
      mat-button
      [routerLink]="paths.newPost"
      [routerLinkActive]="['mat-accent']"
      ngClass.lt-md="mat-icon-button"
    >
      <span class="material-symbols-rounded">add</span>
      <span i18n="@@NewPostButtonText" ngClass.lt-md="d-none">New Post</span>
    </button>
    <button
      *ngIf="!this.authService.isLogged"
      id="loginBtn"
      mat-button
      [routerLink]="paths.login"
      [routerLinkActive]="['mat-accent']"
      ngClass.lt-sm="mat-icon-button"
    >
      <span class="material-symbols-rounded">login</span>
      <span i18n="@@LoginButtonText" ngClass.lt-sm="d-none">Login</span>
    </button>

    <button
      *ngIf="this.authService.isLogged"
      [matMenuTriggerFor]="userMenu"
      mat-icon-button
    >
      <app-profile-view
        photoURL="{{ (this.userService.$user | async)?.data?.photoURL }}"
        type="imgOnly"
      ></app-profile-view>
    </button>
    <mat-menu #userMenu="matMenu">
      <button
        fxLayout="row"
        fxLayoutAlign="space-between center"
        id="settingsBtn"
        mat-menu-item
        [routerLink]="paths.settings"
      >
        <span class="material-symbols-rounded">settings</span>
        <span i18n="@@SettingsButtonText">Settings</span>
      </button>
      <button
        fxLayout="row"
        fxLayoutAlign="space-between center"
        id="logoutBtn"
        mat-menu-item
        (click)="this.logout()"
      >
        <span color="primary" class="material-symbols-rounded">logout</span>
        <span color="primary" i18n="@@LogoutButtonText">Log out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
