<section [ngSwitch]="this.isLoaded" class="container">
  <div *ngSwitchCase="true">
    <mat-card *ngIf="this.profile !== undefined">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <app-avatar
          [photoURL]="this.profile.data.photoURL || ''"
          imgClasses="profilePageAvatar"
        ></app-avatar>
        <mat-card-title class="my-2">{{
          this.profile.data.displayName
        }}</mat-card-title>
        <mat-card-subtitle>
          <span i18n="@@JoinedLabel">Joined</span>
          {{ this.profile.data.createAt * 1000 | timeago }}
        </mat-card-subtitle>
      </div>
    </mat-card>
    <app-page-not-found *ngIf="this.profile === undefined"></app-page-not-found>
  </div>
  <mat-spinner
    *ngSwitchCase="false"
    mode="indeterminate"
    diameter="30"
    class="mx-auto my-1"
  ></mat-spinner>
</section>
