<section [ngSwitch]="this.isLoaded" class="container">
  <div *ngSwitchCase="true">
    <app-profile-view
      [date]="this.profile.data.createAt"
      [photoURL]="this.profile.data.photoURL || ''"
      [displayName]="this.profile.data.displayName || ''"
      type="fullPage"
      *ngIf="this.profile !== undefined"
    >
    </app-profile-view>
    <app-page-not-found *ngIf="this.profile === undefined"></app-page-not-found>
  </div>
  <mat-spinner
    *ngSwitchCase="false"
    mode="indeterminate"
    diameter="30"
    class="mx-auto my-1"
  ></mat-spinner>
</section>
