<div class="container">
  <section *ngFor="let post of this.postsReader?.docs">
    <app-post-view [post]="post" [previewMode]="true"></app-post-view>
  </section>
  <!-- button to load more posts -->
  <button
    mat-button
    (click)="this.loadMorePosts()"
    *ngIf="this.postsReader?.hasMore && !this.postsReader?.isLoading"
    i18n="@@LoadMorePostsButton"
  >
    Load more posts
  </button>
  <mat-spinner
    *ngIf="this.postsReader?.isLoading"
    mode="indeterminate"
    diameter="30"
    class="mx-auto"
  ></mat-spinner>
</div>
